*

!.gitignore
!.Rbuildignore
!README.md

!.github/
!.github/workflows/
!.github/workflows/*.yaml

!R/
R/*
!R/*.R

!man/
man/*
!man/*.Rd

!tests/
tests/*
!tests/*.R

!tests/testthat/
!tests/testthat/*.R

!DESCRIPTION
!NAMESPACE
.Rproj.user
